:root {
    --cor-de-fundo: rgb(193, 217, 231);
    --cor-cabecalho: rgb(142, 77, 168);
}

body {
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    background-color: var(--cor-cabecalho);
}

.cabecalho-titulo {
    font-size: 36px;
    font-weight: 700;
    padding: 12px;
    text-align: center;
}

.cabecalho-menu {
    background-color: rgb(176, 115, 204);
}

.cabecalho-menu-item {
    display: block;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    color: black;
    text-align: center;
    border-top: 1px solid;
}
